@charset "EUC-KR";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;}


	*{word-break: keep-all;} /*단어 끊김 방지*/
	td{width: 180px;	height: 400px;}
	
	.musicbutton{text-align:center;     margin-left:auto; 
   				 						margin-right:auto;}
   	svg{margin: 8px 0%;	fill:white; cursor:pointer;		text-align: center;}
   	#marginspace{width: 12%;}
	
	#iconName{color:white;	font-family:'Pretendard-Regular', san-serif; font-size:20pt; font-weight: bold;}
	