<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gb.wn.main.DAO.BoardDAO">

 
   <!-- 게시판 글 작성 -->
   <insert id="boardWrite"  parameterType="boardVO" useGeneratedKeys="true" keyProperty="bno">
	    <selectKey keyProperty="bno" resultType="int" order="BEFORE">
	    	SELECT GB_BOARD_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	   
	   INSERT INTO GB_BOARD(    BNO 
	   					      , TITLE 
	   					      , CONTENT 
	   					      , WRITER  )
	                 VALUES(    #{bno}
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}  )
   
   </insert>
   
   <!--게시판 리스트   -->	
	<select id="boardList" resultType="boardVO" parameterType="com.gb.wn.main.board.boardVO.SearchCriteria">
		SELECT  BNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE,
		        HIT,
		        RECNT
		 FROM ( 
		        SELECT BNO, 
		               TITLE, 
		               CONTENT, 
		               WRITER, 
		               REGDATE,
		               HIT,
		               RECNT, 
		               ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		         FROM GB_BOARD
		          WHERE 1=1 
		         <include refid="search"></include> 
		                       ) GB
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>
	
	<select id="listCount" parameterType="com.gb.wn.main.board.boardVO.SearchCriteria" resultType="int">
	
		SELECT COUNT(BNO)
		   FROM GB_BOARD
		   WHERE 1=1
		<include refid="search"></include>	
		   AND BNO > 0
	
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	<!--게시물 보기(조회)  -->
	<select id="boardView" parameterType="int" resultType="boardVO">
		SELECT	BNO
			  , TITLE
			  , CONTENT
			  , WRITER
			  , REGDATE
			  , HIT
			  , RECNT
		 FROM GB_BOARD
		 WHERE BNO = #{bno}
	</select>
	
	
	
	<update id="boardModify" parameterType="boardVO">
		UPDATE GB_BOARD
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content}
		 WHERE BNO = #{bno} 
	</update>
	
	 <delete id="boardDelete" parameterType="int">
		DELETE 
		  FROM GB_BOARD
		 WHERE BNO = #{bno}
	</delete>
	
	
	
	 <insert id="insertFile" parameterType="hashMap">
		INSERT INTO GB_FILE(
			FILE_NO,
			BNO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			SEQ_GB_FILE_NO.NEXTVAL,
			#{BNO},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    
    <!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
		SELECT FILE_NO,
			   ORG_FILE_NAME,
			   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE,
			   DEL_GB
		  FROM GB_FILE
		 WHERE BNO = #{BNO}
		   AND DEL_GB = 'N'
		ORDER BY FILE_NO ASC
	</select>
	
	<!-- 첨부파일 다운 -->
	<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
		SELECT 
			STORED_FILE_NAME,
			ORG_FILE_NAME
		FROM GB_FILE
		WHERE FILE_NO = #{FILE_NO}
	</select>
	<!--첨부파일 수정   -->
	 <update id="updateFile" parameterType="hashMap">
    	UPDATE GB_FILE SET
    	DEL_GB = 'Y'
    	WHERE FILE_NO = #{FILE_NO}
    </update>
    
    <!-- 게시판 조회수 -->
    <update id="boardHit" parameterType="int">
    	UPDATE GB_BOARD SET
    	HIT = HIT+1
    	WHERE BNO = #{bno}
    </update>

</mapper>
 